#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
target/
war-target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

maven-eclipse.xml


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Others
*.Cache
[Ss]tyle[Cc]op.*
~$*
*~

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Subverson related files/directories
.svn/
.externals
.svnignore

# Harvest related files
harvest.sig

